.right-side {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.right-side.open {
  transform: translateX(0);
}
.cart-list {
  max-height: 90%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.cart-list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.cart-list-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #ffffff;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.cart-list-total-label {
  margin-right: 5px;
}

.cart-list-total-amount {
  font-weight: bold;
}